body > header {
  // background: $header-bg;
  text-align: center;
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .5em 0 .2em;
    @extend .sans;
    font-size: $header-subtitle-font-size;
    color: $subtitle-color;
    font-weight: normal;
  }
}
